.table-item{
    background-color: var( --dark );
    border-radius: 5px;
    overflow: auto;
}

.table-item .table-item-title{
    color: var( --orange );
    font-weight: 600;
    font-size: 0.9em;
}

.table-item .row{
    min-width: 500px;
    min-height: 200px;
}

.table-item .col:nth-child( n + 2 ){
    border-left: 2px solid var( --light-dark-2 );
}

.table-item .col-title{
    background-color: var( --light-dark-2 );
    border-radius: 6px;
    color: #AAAAAA;
    font-size: 0.9em;
    letter-spacing: 0.10em;
    padding: 10px 0px !important;
}

.table-item .col-items-container{
    flex: 1;
}

.table-item .col-items-container .col-items{
    font-size: 0.9em;
    color: #CCCCCC;
}