

.menu-container{
    background-color: var( --dark );
    display: block;
    border-top: 5px solid var( --yellow );
}

.menu-container .menu-brand{
    height: 65px;
}

.menu-container .menu-icon .menu-icon-item{
    height: 40px;
    width: 45px;
}

.menu-container .menu-icon img{
    display: block;
    border-radius: 100;
    height: 40px;
    width: 40px;
}

.menu-item i{
    font-size: 30px;
    color: #888888;
}

.menu-item i.active{
    color: var( --yellow );
}

.menu-container .menu-name{
    font-size: 1.1em;
    letter-spacing: 0.13em;
    font-weight: 600;
}

.menu-container .menu-name a{
    color: #FFFFFF;
    text-decoration: none;
}

.user-container{
    height: 60px;
    background-color: var( --light-dark-2 );
    border-radius: 7px;
}

.user-container .user-icon .user-icon-item,
.user-container .user-icon,
.user-container img{
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
}

.user-container .user-name{
    display: flex;
    justify-content: center;
    font-size: 0.85em;
    letter-spacing: 0.13em;
    color: #999999;
    font-weight: 600;
}

.user-container .user-action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: var( --dark );
    cursor: pointer;
}

.user-container .user-action i{
    color: #888888;
    font-size: 15px;
    display: block;
}

.menu-container .menu-small .name{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 0.15em;
}

.menu-container .menu-small .menu-action{
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.menu-container .menu-small .menu-action .items{
    position: relative;
    display: block;
    height: 3px;
    width: 60%;
    background-color: #FFFFFF;
    margin-top: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.menu-container .menu-small .close-s .items{
    position: absolute;
    display: block;
    height: 3px;
    width: 50%;
    transform: rotate( 45deg );
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.menu-container .menu-small .close-s .item1{
    transform: rotate( -45deg );
}

.menu-container .menu-data{
    background-color: var( --light-dark-2 );
    border-radius: 5px;
}

.menu-data .menu-item-name a{
    font-size: 0.85em;
    color: #999999 !important;
    font-weight: 600;
}

.menu-data .menu-item-icon img{
    height: 25px;
    width: 25px;
}

.menu-data .menu-item-name a span{
    height: 40px;
    border-radius: 40px;
}

.menu-data a{
    text-decoration: none !important;
}

.menu-data .active .menu-item-name a{
    color: var( --yellow ) !important;
}

.menu-data .active .menu-item-name a span{
    background-color: var( --light-dark );
}

.part-title{
    font-weight: 600;
    letter-spacing: 0.17em;
    font-size: 1.3em;
    color: #999999;
}

.content-chart{
    background-color: var( --dark );
    border-radius: 8px;
}

.content-chart canvas{
    margin: 0 auto;
}

.content-save{
    flex-wrap: wrap;
}

.content-save .save{
    background-color: var( --dark );
    border-radius: 5px;
}

.content-save .save .data{
    font-size: 1.3em;
    color: var( --orange );
    font-weight: 600;
}

.content-save .save .name{
    font-size: 1.1em;
    color: #FFFFFF;
    font-weight: 600;
}

.content-nav{
    border-bottom: 1px solid var( --dark );
}

.nav{
    display: block;
    overflow: auto;
    position: relative;
    white-space: nowrap;
}

.content-nav .date .data-icon-item,
.content-nav .date img{
    height: 25px;
    width: 25px;
}

.content-nav .date .date-content{
    font-size: 0.85em;
    color: #999999;
    font-weight: 600;
    left: 0.13em;
}

.nav-brand{
    display: block;
    color: var( --orange );
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.13em;
    box-sizing: border-box;
    width: 100%;
}

.nav .nav-item{
    display: inline-block;
    align-items: center;
    color: #999999;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 0.12em;
}

.nav .active{
    color: var( --orange );
    border-bottom: 2px solid var( --orange );
}

.tools{
    bottom: 7px;
    right: 7px;
    transition-duration: 0.3s;
    z-index: 120;
    background-color: transparent;
    border-radius: 50px;
}

.tools .tool-item{
    border-radius: 50px;
    background-color: var( --orange );
    color: var( --dark );
    cursor: pointer;
}

.tools .tool-item,
.tools .tool-item-name,
.tools .tool-item-icon i{
    cursor: pointer !important;
}

.tools .tool-item-name{
    color: var( --dark );
    font-size: 0.85em;
    font-weight: 600;
    transition-duration: 0.4s;
}

.tools .tool-item-name.hide-i span,
.tools .tool-item-name.hide-i{
    transition-duration: 0.4s;
    max-width: 0px;
    overflow: hidden;
}

.tools .tool-item-name.show-i span,
.tools .tool-item-name.show-i{
    transition-duration: 0.4s;
    max-width: 200px;
    word-wrap: normal;
}

.sticky-note{
    z-index: 170;
    bottom: 7px;
    right: 7px;
    width: calc( 100% - 10px );
    max-width: 350px;
    height: auto;
    max-height: calc( 100% - 50px );
    overflow: hidden;
    background-color: var( --dark );
    border-radius: 6px;
    transition-duration: 0.3s;
}

.sticky-note.hide-i{
    max-width: 0px !important;
    max-height: 0px !important;
    transition-duration: 0.3s;
}

.sticky-note.show-i{
    transition-duration: 0.3s;
}

.sticky-note > .sticky-note-head{
    background-color: var( --orange );
    color: var( --dark );
    font-size: 0.9em;
    font-weight: 600;
    min-height: 60px;
}

.sticky-note-data{
    overflow: auto;
    min-height: 200px;
}

.sticky-note > .sticky-note-head i{
    font-size: 30px;
}

.sticky-note-item-head,
.sticky-note-subitem-head{
    color: #999999;
    font-weight: 600;
}

.sticky-note .btn:hover,
.sticky-note .btn{
    background-color: var( --orange );
    color: var( --dark );
    font-size: 0.85em;
    box-shadow: none !important;
    font-weight: 600;
}


.sticky-note .btn i{
    font-size: 20px;
}

.sticky-note input{
    background-color: transparent;
    border-radius: 2px solid var( --orange );
}

.content-choice{
    border-top: 1px solid var( --light-dark-2 );
}

.checkbox-container {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #888888;
    border-radius: 4px;
    overflow: hidden;
}

.checkbox-container input{
    display: none;
}

.checkbox-container .checkmark{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #888888;
    opacity: 0;
}

.checkbox-container .checkmark::before{
    content: " ";
    position: absolute;
    display: block;
    width: 6px;
    height: 3px;
    transform: rotate( 45deg );
    top: 7px;
    left: 2px;
    background-color: var( --dark );
}

.checkbox-container .checkmark::after{
    content: " ";
    position: absolute;
    display: block;
    width: 12px;
    height: 3px;
    transform: rotate( -55deg );
    top: 6px;
    left: 4px;
    background-color: var( --dark );
}

.checkbox-container input:checked ~ .checkmark{
    opacity: 1;
}

.sticky-note label{
    font-size: 0.9em;
    color: #888888;
    user-select: none;
    font-weight: 600;
}

.sticky-note .content-button,
.sticky-note .content-button.show{
    transition-duration: 0.3s;
    max-width: 500px !important;
    max-height: 500px !important;
}

.sticky-note .content-button.hide{
    max-width: 0px !important;
    max-height: 0px !important;
    overflow: hidden;
    transition-duration: 0.3s;
}

@media screen and ( min-width: 768px ) {
    .main-container{
        position: fixed;
        height: 100%;
        width: 100%;
    }

    .menu-container .menu-brand{
        height: 75px;
    }

    .menu-container .menu-name{
        font-size: 1.3em;
    }

    .menu-data .menu-item-icon img{
        height: 35px;
        width: 35px;
    }

    .menu-item i{
        font-size: 37px;
    }

    .menu-container .menu-icon .menu-icon-item{
        height: 50px;
        width: 55px;
    }

    .menu-container .menu-icon img{
        height: 50px;
        width: 50px;
    }

    .menu-container .menu-data{
        border-bottom: 3px solid var( --yellow );
    }

    .content-menu-data{
        flex: 1;
    }

    .account-body{
        height: 100%;
    }

    .account-body > .row{
        height: 100%;
    }

    .col-body{
        height: 100%;
    }

    .content-body{
        height: 100%;
    }

    .content-nav .date img{
        height: 35px;
        width: 35px;
    }
    
    .content-nav .date .date-content{
        font-size: 1.1em;
    }

    .tools{
        bottom: 25px;
        right: 20px;
    }
}