.content-item-list{
    border-radius: 6px;
}

.user{
    background-color: var( --dark );
    min-height: 100px;
    border-radius: 6px;
}

.user .start{
    position: relative;
    width: 80px;
    min-height: 60px;
    max-height: 100px;
}

.user .end{
    flex: 1;
}

.user .user-img{
    width: 45px;
    height: 45px;
}

.user .btn:focus,
.user .btn{
    background-color: var( --orange );
    font-size: 0.85em;
    box-shadow: none;
    font-weight: 600;
}


.user .btn-outline:hover,
.user .btn-outline:focus,
.user .btn-outline{
    border: 2px solid var( --orange );
    background-color: var( --light-dark-2 );
    color: var( --orange );
}

.user .btn.delete{
    background-color: #FF1122;
}

.user .content-button{
    flex-wrap: wrap;
}

.content-user-number{
    top: 0px;
    position: sticky;
    position: -webkit-sticky;
    background-color: var( --light-dark-2 );
    z-index: 50;
    border-bottom: 1px solid var( --dark );
}

.content-user-number .user-number{
    color: #888888;
    font-weight: 600;
    font-size: 0.95em;
    border-bottom: 2px solid var( --yellow );
}

.content-user-number .user-number i{
    font-size: 20px;
}