.content-main-data{
    background-color: #FFFFFF;
}

.article{
    max-width: 750px;
}

.article .article-subtitle,
.article .article-title{
    font-size: 1.1em;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.13em;
    text-transform: uppercase;
}

.article .article-subtitle{
    font-size: 0.9em;
    color: #444444;
    text-transform: lowercase;
}

.article .article-subtitle::first-letter{
    text-transform: uppercase;
}

.author .author-head .author-icon{
    width: 70px;
    height: 70px;
}

.author .author-head .author-icon .author-icon-img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.author .author-name{
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.author .author-follow{
    font-size: 25px;
    color: #000000;
}

.share-article .share-box{
    bottom: 0px !important;
    right: 0px !important;
}

.article-main-image{
    overflow: hidden;
    max-height: 380px;
}

.article-main-image::after{
    content: "";
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 40%;
    z-index: 30;
    top: 0px;
    left: 0px;
    background-image: linear-gradient( 180deg, #FFFFFF, transparent );
}

.article-main-image img{
    width: 100%;
}

.article-body .article-text{
    font-size: 0.85em;
    letter-spacing: 0.13em;
    letter-spacing: 0.02em;
    font-weight: 600;
    color: #555555;
    word-wrap: break-word;
    word-break: break-all;
}

.article-image .article-img{
    max-width: 100%;
    border-radius: 0px;
    overflow: hidden;
}

.article-image::after{
    content: attr( data-title );
    position: absolute;
    display: block;
    padding: 5px 15px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 0.14em;
    bottom: 10px;
    right: 10px;
    z-index: 5;
    text-transform: capitalize;
    max-width: 80%;
    word-wrap: break-word;
}

.article-image-fluid .article-img{
    width: 100%;
}

.article-video .pay-box{
    background-color: rgba( 0, 0, 0, 0.5 );
    -webkit-backdrop-filter: blur( 2px );
    backdrop-filter: blur( 2px );
    transition-duration: 0.2s;
    border-radius: 0px;
    z-index: 25;
}

.article-video .pay-box:hover{
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
}

.article-video .pay-box .pay-icon{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 4px solid #FFFFFF;
    cursor: pointer;
    transition-duration: 0.2s;
}

.article-video .pay-box .pay-icon:hover{
    transform: scale( 1.2 );
}

.article-video .pay-box .pay-icon i{
    display: block;
    font-size: 45px;
    color: #FFFFFF;
}

.article-caption{
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: #333333;
}

.article-caption .article-caption-bar{
    height: 2px;
    width: 70%;
    max-width: 150px;
    border-radius: 6px;
    background-color: #BBBBBB;
    overflow: hidden;
}

.article-caption .article-caption-bar::after{
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #333333;
}

.article-list li{
    font-size: 0.85em;
    color: #555555;
    font-weight: 600;
}

.article-tools{
    top: 100px;
    color: #333333;
}

.article-tools .article-tools-title{
    font-size: 1.2em;
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.article-tools .article-tools-date{
    font-size: 1.1em;
    color: #999999;
    font-weight: 600;
}

.article-tools .article-tools-body{
    border-top: 1px solid #666666;
}

.article-tools .article-tool-item{
    font-size: 0.9em;
    letter-spacing: 0.13em;
    flex: 1;
    cursor: pointer;
    font-weight: 600;
}

.article-tools .article-tool-item i{
    font-size: 27px;
}

.article-follow{
    border: 2px solid #555555;
    color: #222222;
    border-radius: 40px;
    font-size: 0.9em;
    letter-spacing: 0.14em;
    font-weight: 600;
    transition-duration: 0.2s;
}

.article-follow i{
    font-size: 20px;
}

.article-follow:hover{
    color: #FFFFFF;
    background-color: #555555;
}

.article-tools-share .share-box{
    bottom: 0px;
    right: 0px;
}

.article-tool-item-chat i{
    transform: rotateY( 180deg );
}

.article-comment-container{
    z-index: 250;
    left: 0px;
    top: 0px;
    background-color: rgba( 255, 255, 255, 0.85 );
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
}

.article-comment-container-main{
    max-width: 550px;
    background-color: #FFFFFF;
}

.article-comment-list{
    flex: 1;
}

.article-comment-field-reply{
    max-height: 0px;
    overflow: hidden;
    transition-duration: 0.2s;
}

.article-comment-field-reply.open{
    max-height: 80px;
}

.article-comment-field-reply-content{
    background-color: #000000;
    border-radius: 5px;
}

.article-comment-field-reply-content .article-comment-fiend-reply-destinater{
    font-size: 0.85em;
    color: #FFFFFF;
    font-weight: 600;
}

.article-comment-field-reply-content i{
    font-size: 15px;
    color: #DDDDDD;
    cursor: pointer;
}

.article-comment-close-field{
    cursor: pointer;
}

.article-comment-close-field i{
    font-size: 30px;
}

.article-comment-field{
    flex: 1;
    border: 1px solid #333333;
    outline: none;
    height: 40px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 0.85em;
    letter-spacing: 0.12em;
}

.article-comment-send-data{
    cursor: pointer;
}

.article-comment-send-data i{
    font-size: 35px;
    color: #333333;
}

.article-comment-close-container .article-comment-close{
    font-size: 30px;
    cursor: pointer;
}

.article-comment-list-header i{
    font-size: 40px;
}

.article-comment-list-header span{
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.14em;
}

.article-comment-list-bar{
    top: 0px;
    color: #333333;
    z-index: 50;
    background-color: rgba( 255, 255, 255, 0.75 );
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
}

.article-comment-list-bar .article-comment-list-bar-user{
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.article-comment-list-bar .article-comment-list-bar-user i{
    font-size: 15px;
}

.article-comment-list-bar .article-comment-list-bar-add-like i{
    font-size: 25px;
    cursor: pointer;
}

.article-comment-author-icon{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #BBBBBB;
}

.article-comment-author-data{
    flex: 1;
}

.article-comment-author-data .article-comment-author-detail span{
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.13em;
    white-space: nowrap;
    overflow: hidden;
}

.article-comment-author-data .article-comment-author-detail span i{
    font-size: 15px;
}

.article-comment-author-comment{
    font-size: 0.70em;
    letter-spacing: 0.13em;
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #CCCCCC;
    border-radius: 10px;
    border-top-left-radius: 0px;
}

.article-comment-author-option-item{
    font-size: 0.75em;
    font-weight: bold;
    cursor: pointer;
}

.article-comment-reply-container-bar .article-comment-reply-bar{
    display: block;
    height: 1px;
    flex: 1;
    max-width: 600px;
    background-color: #999999;
    transition-duration: 0.4s;
}

.article-comment-reply-container-bar .article-comment-reply-bar.close{
    max-width: 0px;
}

.article-comment-reply-container-bar .article-comment-reply-switch{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 1px solid #999999;
    cursor: pointer;
    transition-duration: 0.2s;
}

.article-comment-reply-container-bar .article-comment-reply-switch.close{
    transform: rotate( 180deg );
    transition-duration: 0.2s;
}

.article-comment-reply-container-bar .article-comment-reply-switch i{
    font-size: 15px;
    color: #666666;
}

.article-comment-reply-list{
    transition-duration: 0.3s;
    overflow: hidden;
}

.article-comment-reply-list.open{
    max-height: fit-content;
    transition-duration: 0.1s;
}

.article-comment-reply-list.close{
    max-height: 0px;
    transition-duration: 0.1s;
}

@media screen and ( min-width: 768px ) {
    .article .article-title{
        font-size: 1.3em;
    }

    .article .article-subtitle{
        font-size: 1.1em;
    }

    .author .author-name{
        font-size: 0.95em;
    }

    .author .author-follow{
        font-size: 30px;
    }

    .author .share .share-item i{
        font-size: 25px !important;
    }

    .article-body .article-text,
    .article-list li{
        font-size: 0.95em;
    }

    .article-caption{
        font-size: 1.1em;
    }

    .article-second-col{
        border-left: 2px solid #F5F5F5;
    }
}