.content-form{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.form-img{
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.form .form-head img{
    width: 100%;
    min-height: 100%;
}

.form .form-body{
    background-color: rgba( 255, 255, 255, 0.90 );
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur( 5px );
    backdrop-filter: blur( 5px );
    flex-wrap: wrap;
}

.form .content-icon img{
    width: 100px;
}

.form-title{
    font-size: 1.4em;
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.12em;
}

.form-description{
    font-size: 0.85em;
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.12em;
}

.or .bar{
    flex: 1;
    height: 2px;
    background-color: #333333;
}

.or span{
    color: #333333;
    font-weight: 600;
}

.field i{
    font-size: 35px;
}

.field .field-content-input{
    height: 50px;
    width: 270px;
    border-radius: 2px;
    font-size: 0.85em;
    letter-spacing: 0.12em;
    background-color: #FFFFFF !important;
}

.field .field-content-input label{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    overflow: hidden;
    color: #444444;
    transition-duration: 0.2s;
}

.field input{
    height: 100%;
    width: 100%;
    background-color: transparent !important;
    outline: none;
    border: none;
    font-size: 0.80em;
    letter-spacing: 0.12em;
    color: #000000;
}

.field input:valid + label,
.field input:focus + label{
    height: 20px;
    font-size: 0.55em;
    font-weight: 600;
    color: #000000;
}

.field input:-webkit-autofill,
.field input:-webkit-autofill:hover,
.field input:-webkit-autofill:focus,
.field input:-webkit-autofill:active{
    transition: background-color 5000s;
    -webkit-text-fill-color: #333333 !important;
}

.field .field-bar{
    width: 0px;
    height: 2px;
    background-color: #777777;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.field .field-bar::after{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0px;
    background-color: #000000;
    transition-duration: 0.2s;
    border-radius: 5px;
}


.field .field-content-input.focus + .field-bar,
.field .field-content-input:hover + .field-bar{
    width: 100%;
}

.field .field-content-input.focus + .field-bar::after{
    width: 100%;
}

.form .button{
    box-shadow: none !important;
    padding: 14px 30px !important;
    border-radius: 4px;
    cursor: pointer;
}

.form .secondary{
    background-color: transparent;
    color: #555555;
    font-size: 0.85em;
    letter-spacing: 0.12em;
    font-weight: bold;
    transition-duration: 0.3s;
    box-sizing: content-box;
    text-align: center;
}

.form .secondary a{
    color: #000000;
    text-decoration: underline #000000 !important;
}

.form .submit{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.75em;
    letter-spacing: 0.12em;
    font-weight: bold;
}

.form .log-item{
    min-width: 50px;
    height: 45px;
    border-radius: 6px;
}

.google,
.facebook,
.twitter{
    color: #FFFFFF;
    background-color: #1DA1F2;
    border-radius: 70px;
    font-size: 0.55em;
    font-weight: bold;
    word-spacing: 0.01em;
    letter-spacing: 0.12em;
    min-width: 20px;
    cursor: pointer;
}

.twitter{
    font-size: 0.65em;
}


.google i,
.facebook i,
.twitter i{
    font-size: 15px;
}

.google{
    background-color: #DB4437;
}

.facebook{
    background-color: #4267B2;
    border: none;
    outline: none;
}

@media screen and ( min-width: 450px ) {
    .google,
    .facebook,
    .twitter{
        font-size: 0.75em;
    }

    .google i,
    .facebook i,
    .twitter i{
        font-size: 25px;
    }
}