.form{
    min-height: 450px;
}

.field-icon{
    transition-duration: 0.3s;
}

.form img{
    height: 50px;
    width: 50px;
    transition-duration: 0.3s;
}

.form .form-name{
    font-size: 1.8em;
    color: var( --yellow );
    font-weight: 600;
    letter-spacing: 0.16em;
}

.field i{
    font-size: 40px;
    color: var( --orange );
}

.field input{
    display: block;
    outline: none;
    border: none;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: 0.13em;
    max-width: 350px;
    flex: 1;
    color: #888888;
    background-color: transparent;
    transition-duration: 0.3s;
}

.field .content-input{
    flex: 1;
    max-width: 350px;
    background-color: var( --dark );
    border-radius: 8px;
}

.field .content-input .content-input-text{
    font-size: 0.9em;
    color: #888888;
}

.field input::placeholder{
    opacity: 0.8;
    color: #888888;
}

.btn:hover,
.btn{
    background-color: var( --orange );
    color: #FFFFFF;
    box-shadow: none !important;
    font-size: 0.9em;
    font-weight: 600;
}

.btn-outline:hover,
.btn-outline{
    background-color: transparent;
    color: var( --orange );
    border: 2px solid var( --orange );
    box-shadow: none !important;
}

.btn i{
    font-weight: 600;
    color: #FFFFFF;
}