body{
    background-color: #FFFFFF;
}

@font-face{
    src: url( "./../font/PLENTO.ttf" );
    font-family: plento;
}

@font-face{
    src: url( "./../font/zen.ttf" );
    font-family: zen;
}

@font-face{
    src: url( "./../font/juice.ttf" );
    font-family: juice;
}

@font-face{
    src: url( "./../font/dreams.ttf" );
    font-family: dream;
}

.header img{
    height: 200px;
    width: 200px;
}

.header .header-text{
    font-size: 2.3em;
    font-family: plento;
    font-weight: 600;
    color: #FF1122;
    letter-spacing: 0.20em;
}

.content-page{
    background-color: var( --gray );
}

.container-head .container-title{
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.13em;
}

.container-head .bar{
    height: 2px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #DDDDDD;
}

.container-head .bar::after{
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    background-color: #333333;
}

.color-item-container{
    width: 250px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.color-item-container .eppillon{
    height: 130px;
    background-color: #000000;
    border-radius: 6px;
}

.color-item-container .colors-desc span{
    font-size: 0.85em;
    letter-spacing: 0.15em;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}

.typography-item{
    color: #000000;
    font-weight: 600;
}

@media screen and ( min-width: 768px ) {
    .container-head .container-title{
        font-size: 1.2em;
    }

    .container-head .bar{
        height: 3px;
    }
}