:root{
    --black: #000000;
    --white: #FFFFFF;
    --light-dark: rgba( 23, 24, 33, 1 );
    --light-dark-2: rgba( 33, 34, 45, 1 );
    --dark: rgba( 19, 21, 27, 1 );
    --yellow: rgba( 252, 186, 90, 1 );
    --orange: #F7931A;
    --gray: #F5F5F5;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb{
    background-color: #FF1122;
}

@font-face{
    src: url( "./../font/Aaargh.ttf" );
    font-family: aaargh;
}

#__next{
    display: block;
    width: 100%;
}

*{
    font-family: aaargh;
    color: var( --text );
    position: relative;
}

a{
    text-decoration: none !important;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body{
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    background-color: var( --gray );
}

.main-container{
    display: block;
    position: relative;
}

.typo-main{
    border-right: 1px solid #333333;
    padding-right: 20px;
}

@media screen and ( min-width: 768px ) {
    ::-webkit-scrollbar{
        width: 6px;
        height: 6px;
        background-color: transparent;
    }
}